<%- include ("partials/_header") %> 

  <!-- gallery section -->

  <section class="gallery_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Birds And <span>Animals</span>
        </h2>
      </div>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words
      </p>
    </div>
    <div class="gallery_bg layout_padding">
      <div class="container">
        <div class="gallery_container ">
          <div class="box-1">
            <div class="img-box b-1">
              <img src="images/bird-1.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
                <a href="" class="btn-2">

                </a>
              </div>
            </div>
            <div class="img-box b-2">
              <img src="images/bird-2.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
                <a href="" class="btn-2">

                </a>
              </div>
            </div>
          </div>
          <div class="box-2">
            <div class="box-2-top">
              <div class="img-box b-3">
                <img src="images/bird-3.jpg" alt="">
                <div class="btn-box">
                  <a href="" class="btn-1">

                  </a>
                  <a href="" class="btn-2">

                  </a>
                </div>
              </div>
            </div>
            <div class="box-2-btm">
              <div class="box-2-left">
                <div class="img-box b-4">
                  <img src="images/bird-4.jpg" alt="">
                  <div class="btn-box">
                    <a href="" class="btn-1">

                    </a>
                    <a href="" class="btn-2">

                    </a>
                  </div>
                </div>
              </div>
              <div class="box-2-right">
                <div class="img-box b-5">
                  <img src="images/bird-5.jpg" alt="">
                  <div class="btn-box">
                    <a href="" class="btn-1">

                    </a>
                    <a href="" class="btn-2">

                    </a>
                  </div>
                </div>
                <div class="img-box b-6">
                  <img src="images/bird-6.jpg" alt="">
                  <div class="btn-box">
                    <a href="" class="btn-1">

                    </a>
                    <a href="" class="btn-2">

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a href="" class="read_btn">
            See More
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- end gallery section -->


  <!-- footer section -->
  <section class="container-fluid footer_section layout_padding2-top">
    <div class="social-box">
      <div>
        <a href="">
          <img src="images/fb.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/twitter.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/linkedin.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/instagram.png" alt="">
        </a>
      </div>
    </div>
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- footer section -->

  <%- include ("partials/_footer") %> 

</body>
</body>

</html>