<%- include ("partials/_header") %> 

  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Request A <span>Call Back</span>
        </h2>
      </div>

    </div>
    <div class="map_section layout_padding-top">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
      </div>
    </div>
    <div class="contact_box">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Your Name">
                </div>
                <div>
                  <input type="email" placeholder="Email">
                </div>
                <div>
                  <input type="text" placeholder="Phone Number">
                </div>
                <div class="">
                  <input type="text" placeholder="Message">
                </div>
                <div class=" d-flex justify-content-center justify-content-sm-start">
                  <button type="submit">
                    Send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_info">
            <a href="">
              <img src="images/location.png" alt="">
              <span>
                It is a long established fact that
              </span>
            </a>
            <a href="">
              <img src="images/phone.png" alt="">
              <span>
                +1 1234567890
              </span>
            </a>
            <a href="">
              <img src="images/mail.png" alt="">
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- footer section -->
  <section class="container-fluid footer_section layout_padding2-top">
    <div class="social-box">
      <div>
        <a href="">
          <img src="images/fb.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/twitter.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/linkedin.png" alt="">
        </a>
      </div>
      <div>
        <a href="">
          <img src="images/instagram.png" alt="">
        </a>
      </div>
    </div>
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <%- include ("partials/_footer") %> 


</body>
</body>

</html>